@import '../helpers/variables';

footer{
    h3{
        color: $text-color;
        @include display-main;
    }
    .social_icons{
        @include display-main;
        gap: $rem_main;
        cursor: $cursor;
        img{
            width: 25px;
            &:hover{
            transform: scale(1.2);
            }
        } 
    }
    p{
        color: $text-color;
        font-size: smaller;
        margin-top: $margin_main*0.8;
        margin-bottom: 0;
        @include display-main;
    }
    h5{
        color: $text-color;
        font-size:20px;
        @include display-main;
        margin-bottom: $margin_main;
    }
    fieldset{
       border: none;
        display: inline-flex;
        gap: 12px;
        margin-left: $rem_main*3;
        button{
            margin-top: 1px;
            &:hover{
                background-color: $hover-button;
            }
        }
    }
    input[type=text]{
     width:160px;
     height: 12px;
     border:1.5px solid $main-color;
    }
    .footer_logo{
        width: 3%;
        padding: auto;
        margin-left: $rem_main;
        margin-bottom: -0.15rem;
        margin-right: $rem_main / 2;
    }
    ul{
        color: $text-color;
        list-style-type:none;
        display: $display;
        justify-content: space-between;
        cursor: $cursor;
    }
}