@import '../helpers/variables';

.nav-main{
    display: $display;
    justify-content: center;  
    margin: auto;  
    }
    ul{
        display: $display;
        list-style-type:none;
        li{
            margin-right: $margin_main;
            margin-top: $margin_main; 
            a {
                text-decoration: none;
                color: $text-color;
                font-weight: 600;
                font-size:small;   
        } &:hover {
            color:$text-hover;
            text-decoration: underline; 
    } 
    }  
           

        
      
}