@import './SASS/helpers/variables';
@import './SASS/helpers/animation';
@import './SASS/pages/songs';
@import './SASS/layout/navbar';
@import './SASS/helpers/mixins';
@import './SASS/layout/footer';
@import './SASS/components/buttons';
@import './SASS/pages/artists';
@import './SASS/pages/albums';
@import './SASS/pages/home';

//Google font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


body{
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

div{
    .logo_image {
    width: 15px;
    margin-top: 32px;
    margin-right: 6px;
    animation: pulse 1s linear infinite;    
    }
}

h1 {
    color: $text-color;
    font-size: 20px;
    margin-top: 25px;
    span{
    color: $main-color;
    animation: rotate 5s linear infinite;
}
}

input[type=text]{
    background-color: $secondary-color;
    border-radius: $border-radius;
    border: none;
    @include display-main;
    padding :5px;
    margin: auto;
    width: 360px;
    height: 25px;
}

.hero-section{
    background-color:$main-color;
    width: 350px;
    height:220px;
    border-radius: $border-radius;
    h2{
        color: $text-color;
    }
}

main {
    section{
        @include display-main;
        .musical_sign{
            width:25px;
            height: 25px;
            margin-top: 55px;
            margin-left: $margin_main;
            margin-right: $margin_main;
            animation: pulse 1s linear infinite; 
        }
        h3{
            color: $main-color;
            text-decoration: underline;
            font-size:36px ;
        }
        .rectangle{
            width: 155px;
            height: 30px;
        }
    } 
}

 .play_list{
         display:block;
     }
     h4{
        color: $text-color;
        display: contents;
   }  
.play_button{
    margin-left: $margin_main;
}


.hero-section{
    background: linear-gradient(168deg, #e97c63 0%, #efa9a9 85%);
    padding: 12px;
    text-align: center;
    border-radius: $border-radius;
    margin:auto;
    margin-top: 1.5rem;
    h2{
        color: $text-color;
        font-size: 42px;
        line-height: 100%;
        text-align: left;
        padding: 12px;
        margin-top: $margin_main;
    }
    }
    .container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            @include breakpoint-sm {
            max-width: 576px;
        }
        @include breakpoint-md {
            max-width: 768px; 
        }
    
    }
    
    .line{
        width: 250px;
        height: 2px;
        background-color: $main-color;
        margin: auto;
        margin-top: 1.5rem;
    }
