@import './SASS/helpers/variables';
@import './SASS/helpers/animation';
@import './SASS/pages/songs';

//Google font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


body{
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

div{
    .logo_image {
    width: 20px;
    margin-top: 28px;
    margin-right: 6px;
    animation: pulse 1s linear infinite;    
    }
}

h1 {
    color: $text-color;
    span{
    color: $main-color;
    animation: rotate 5s linear infinite;
}
}

.nav-main{
    display: flex;
    justify-content: right;
    ul{
        display: flex;
        list-style-type:none;
        
    }
    ul li{
        margin-right: 12px;
        margin-top: 12px;
    }
    ul li a {
        text-decoration: none;
        color: $text-color;
        font-weight: 600;
        font-size: smaller;
    }
    & a:hover {
        color:$text-hover;
    & a:focus {
            color:$text-hover;
            text-decoration: underline;
    }
}}

input[type=text]{
    background-color: $secondary-color;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding :5px;
    margin: auto;
    width: 360px;
    height: 25px;
}

.hero-section{
    background-color:$main-color;
    width: 350px;
    height:220px;
    border-radius: 15px;
    h2{
        color: $text-color;
    }
}

main {
    section{
        display: flex;
        justify-content: center;
        .musical_sign{
            width:25px;
            height: 25px;
            margin-top: 55px;
            margin-left: 12px;
            margin-right: 12px;
            animation: pulse 1s linear infinite; 
        }
        h3{
            color: $main-color;
            text-decoration: underline;
            font-size:36px ;
        }
    }

   
   
}

.play_list{
        display:block;
    }
    
    h4{
        color: $text-color;
        display: contents;
    }  
.play_button{
    margin-left: 12px;
}


.hero-section{
    background: linear-gradient(168deg, #e97c63 0%, #efa9a9 85%);
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    margin:auto;
    margin-top: 1.5rem;
    h2{
        color: $text-color;
        font-size: 42px;
        line-height: 100%;
        text-align: left;
        padding: 12px;
        margin-top: 12px;
    }
    }
    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    .line{
        width: 250px;
        height: 2px;
        background-color: $main-color;
        margin: auto;
        margin-top: 1.5rem;
    }
footer{
    h3{
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social_icons{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        img{
            width: 25px;
        }
    }
    p{
        color: $text-color;
        font-size: smaller;
        margin-top: 12px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}