@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Logo Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px);
  }
}
body {
  background-color: #110202;
  margin: 0;
  padding: 0;
}

div .logo_image {
  width: 20px;
  margin-top: 28px;
  margin-right: 6px;
  animation: pulse 1s linear infinite;
}

h1 {
  color: #FFFFFF;
}
h1 span {
  color: #E86144;
  animation: rotate 5s linear infinite;
}

.nav-main {
  display: flex;
  justify-content: right;
}
.nav-main ul {
  display: flex;
  list-style-type: none;
}
.nav-main ul li {
  margin-right: 12px;
  margin-top: 12px;
}
.nav-main ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: smaller;
}
.nav-main a:hover {
  color: #E86144;
}
.nav-main a:hover a:focus {
  color: #E86144;
  text-decoration: underline;
}

input[type=text] {
  background-color: #D9D9D9;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: auto;
  width: 360px;
  height: 25px;
}

.hero-section {
  background-color: #E86144;
  width: 350px;
  height: 220px;
  border-radius: 15px;
}
.hero-section h2 {
  color: #FFFFFF;
}

main section {
  display: flex;
  justify-content: center;
}
main section .musical_sign {
  width: 25px;
  height: 25px;
  margin-top: 55px;
  margin-left: 12px;
  margin-right: 12px;
  animation: pulse 1s linear infinite;
}
main section h3 {
  color: #E86144;
  text-decoration: underline;
  font-size: 36px;
}

.play_list {
  display: block;
}

h4 {
  color: #FFFFFF;
  display: contents;
}

.play_button {
  margin-left: 12px;
}

.hero-section {
  background: linear-gradient(168deg, #e97c63 0%, #efa9a9 85%);
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  margin-top: 1.5rem;
}
.hero-section h2 {
  color: #FFFFFF;
  font-size: 42px;
  line-height: 100%;
  text-align: left;
  padding: 12px;
  margin-top: 12px;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.line {
  width: 250px;
  height: 2px;
  background-color: #E86144;
  margin: auto;
  margin-top: 1.5rem;
}

footer h3 {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .social_icons img {
  width: 25px;
}
footer p {
  color: #FFFFFF;
  font-size: smaller;
  margin-top: 12px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}