@import './SASS/helpers/variables';
@import './SASS/helpers/animation';
@import './SASS/pages/songs';
@import './SASS/layout/navbar';
@import './SASS/helpers/mixins';
@import './SASS/layout/footer';
@import './SASS/components/buttons';
@import './SASS/pages/artists';
@import './SASS/pages/albums';
@import './SASS/pages/home';

//Google font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


body{
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

div{
    .logo_image {
    width: 15px;
    margin-top: 32px;
    margin-right: 6px;
    animation: pulse 1s linear infinite;    
    }
}

h1 {
    color: $text-color;
    font-size: 20px;
    margin-top: 25px;
    span{
    color: $main-color;
}
}

input[type=text]{
    background-color: $secondary-color;
    border-radius: $border-radius;
    border: none;
    @include display-main;
    padding :5px;
    margin: auto;
    width: 360px;
    height: 25px;
}

.hero-section{
    background-color:$main-color;
    width: 350px;
    height:220px;
    border-radius: $border-radius;
    h2{
        color: $text-color;
    }
}

main {
    section{
        @include display-main;
        .musical_sign{
            width:25px;
            height: 25px;
            margin-top: 55px; 
            margin-left: $rem_main*2;
            margin-right: $rem_main*2;
            margin-bottom: $rem_main*2;
            animation: pulse 1s linear infinite; 
        }
        h3{
            color: $text-color;
            text-decoration: underline;
            font-size:36px ;
            text-align: center;
            margin-top:$rem_main*3;
        }
    } 
}

.playlist{
    .songs{
        fieldset{
            display: flex;
            margin-top: $rem_main;
            margin-bottom: $rem_main;
            cursor: $cursor;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 4px 6px  $main-color; ;
        }}
            .play_button {
                width: 15%; 
                margin-right: $rem_main;
                margin-top: $rem_main/2;
            }
            h4 {
                margin: 0;
                margin-top: $rem_main;
                font-size: 18px;
                color:$text-color;
            }
        }
}
        
.hero-section{
    width: 350px;
    height: 220px;
    background: #706C6B;
    padding: 12px;
    text-align: left;
    border-radius: $border-radius;
    margin:auto;
    margin-top: $rem_main*2;
    background-color: #706c6b2a;
    border: 2px solid #e86244e5;
    box-shadow: 2px 4px 10px #be3314;
    h2 {
        font-size:47px;
        line-height: 100%;
        text-align: left;
        margin:auto;
        opacity: 25%;
        span{
            text-shadow: 0px 2px 4px #be3314;
        }
    }
    }
    .container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
    }
    
    .line{
        width: 250px;
        height: 2px;
        background-color: $main-color;
        margin: auto;
        margin-top: 1.5rem;
    }




