@import '../helpers/variables';


.header-main {
    img{
    cursor: pointer;
    }
    h2{
        color: $main-color;
        display: contents;
        margin-top: 12px;
    }
}

// input[type=text]{
//     margin-bottom: 12px;
// }

section {
    border-bottom: 0.2px solid $text-color;
padding: 6px;
    .song{
       width: 20%;
       display: flex;
       justify-content: left;
       margin:auto 1rem;
       margin-top: 1rem;
       border: 1px solid $main-color;
       border-radius: 5px;
       cursor: pointer;
       transition: transform 0.3s ease-in-out;
       &:hover {
        animation: pulse 1s linear;
        box-shadow: 0 4px 6px  $main-color;
    }
       }
       
    p {
        color: $text-color; 
        margin:auto 2rem;
        // margin-top: 3rem; 
        cursor: pointer;
    }
    span{
        color: $main-color;
    }
    .button_play{
        width: 10%;
        margin: auto;
        margin-top: 2rem;
        margin-left: 4rem;
        &:hover {
            animation: pulse 1s linear;
            transform: scale(1); 
        }
    }
    .line_song{
        width: 50px;
        height: 1px;
        background-color: $main-color;
    }
    }
   

