//Colors:
$background-color:#110202;
$text-color:#FFFFFF;
$main-color:#E86144;
$secondary-color:#D9D9D9;
$text-hover:#E86144;
$gradient-color: linear-gradient(45deg, #FFFFFF, #E86144);

//Fonts:
$font-family: 'Inter', sans-serif;

//Spacing:

//Display:
$display:flex;

//Units:
$margin_main:12px;

//Border-radius:
$border-radius:15px;

// Breakpoints for different screen sizes:
$breakpoint-sm: 576px; //for mobiles;
$breakpoint-md: 768px; //for tablets;
$brealpoint-lg: 992px; // for laptops;
$breakpoint-xl: 1200px; //for large screen;
